{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Modifier le modèle</h1>

    {{ include('back/model/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_admin_model_index') }}">Retour à la liste</a>

    {{ include('back/model/_delete_form.html.twig') }}
{% endblock %}
