<div class="card col-3 mx-1">
  <img src="https://imgs.search.brave.com/hOxBvqs-vCbItLrmO_FpMLDhpgfUq3EexMlJRJMTJWM/rs:fit:1024:768:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tWjhOcXR2X0FI/Y00vVUp1LWxEU255/QUkvQUFBQUFBQUFI/QjQvYUxMdnY1RGxV/VTgvczE2MDAvMi5q/cGc" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{card.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{card.mileage}}km - {{card.productionYear}}</h6>
    <a href="{{ path('app_listing_show', {'id': card.id}) }}" class="card-link">En savoir +</a>
  </div>
</div>