.sortable,
.asc,
.desc {
  text-decoration: none;
  color: #dfdfdf;

  &:hover {
    text-decoration: none;
    color: $primary-color;
  }

  &:after {
    content: '⬍';
    padding-left: 0.4rem;
    font-weight: 900;
  }

  &.asc {
    &:after {
      padding-left: 0.4rem;
      content: '▴';
      position: relative;
      top: -5px;
    }
  }

  &.desc {
    &:after {
      padding-left: 0.4rem;
      content: '▾';
      position: relative;
      top: 5px;
    }
  }
}

