{% extends 'front/base.html.twig' %}
{% block title %} Accueil {% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="row g-2 row-cols-2 justify-content-center">
            {% for card in listings %}
                {% include 'front/partials/_card.html.twig' with {'card':card} %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
